@import url(/css/fonts.css);

body, html {
    height: 100%;
    background-color: #f5f4f4;
    font-family: 'Montserrat', sans-serif;
}


.container{
    font-weight: bolder;
}

#logo{
    color: #0F8C3B;
}

.navbar{
    background-color: #e5e2e2;
    
}

.itemnavbar{
    color: black;
    font-weight: bolder;
}

.itemnavbar:hover{
    color: #0F8C3B;
    font-weight: bolder;
}


.box-welcome {
    /* background-image: url(../../imagens/fundo.jpg); */
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    padding-bottom: 160px;
}

.box-skills {
    background-image: url(../../imagens/development\(1\).jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-top: 80px;
}

.skill-image {
    width: 50px;
    height: 50px;
}

#skills h3 {
    font-size: 1.2em;
    font-weight: 300;
}

.content-center {
    text-align: center;
}

#welcome {
    background-color: #e5e2e2;

}
 
.greenlogo{
    color: #0F8C3B;
    font-size: 60px;
    border-bottom: 2px solid #0F8C3B;
    letter-spacing: -0.04em;
    color: #0F8C3B;
}

.black-logo{
    font-size: 60px;
    border-bottom: 2px solid #0F8C3B;
    letter-spacing: -0.04em;
}

#welcome h2 {
    color: #FFF5EE;
    font-weight: 400;
    font-family: Helvetica, sans-serif;
}

#welcome p {
    margin-top: 40px;
    color: #000000;
    font-size: 1.2em;
    font-weight: bold;
}

#welcome a {
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

.link-info:hover {
    color: #000000;
    padding-bottom: 8px;
    border-bottom: 1px solid #0F8C3B;
}

p {
    font-size: 1.2em;
    color: #404044;
    font-weight: bolder;
}

.row-custom {
    margin-top: -80px;
}


#development h1 {
    border-bottom: 2px solid #0F8C3B;
    letter-spacing: -0.04em;
    color: #0F8C3B;
}



.btn-custom {
    border: none;
    padding: 20px 50px;
    font-weight: 700;
    letter-spacing: 0.06em;
    color: #363636;
    background-color: #0F8C3B ;
}

#skills{
    background-color: #f5f4f4;
}

#skills h1 {
    border-bottom: 2px solid #0F8C3B;
    letter-spacing: -0.04em;
    color: #0F8C3B;
}

#skills h3 {
    letter-spacing: -0.04em;
    color: #000000;
    font-weight: bold;
}


.skill-item {
    width: 190px;
    text-align: center;
}


#contact h1 {
    border-bottom: 2px solid #0F8C3B;
    margin-bottom: 80px;
    letter-spacing: -0.04em;
    color: #0F8C3B;
}

#contact h2 {

    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
}

.contact-col-custom {
    border-radius: 5px;
    text-align: center;
}

.icon {
    border-bottom: 2px solid #474746;
    font-size: 3em;
    color: #0F8C3B;
}



/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .box-welcome {
        padding-bottom: 80px;
    }

    #development h1 {
        margin-top: -30px;
        font-size: 2.4em;
        font-weight: 900;
    }

    #skills h1 {
        margin-top: -30px;
        font-size: 2.4em;
        font-weight: 900;
    }

    .col-custom-primary {
        margin-top: -30px;
    }

    .col-custom-secondary {
        margin-top: -100px;
    }

    .formation-content-text {
        margin-top: -80px;
    }

    #formation h1 {
        margin-top: -40px;
        font-size: 2.4em;
        font-weight: 900;
    }

    .row-custom {
        margin-top: 0px;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.2em;
    }
}

@media (min-width: 375px) and (max-width: 576px) {
    .skill-item {
        width: 100%;
        text-align: center;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #development h1 {
        font-size: 1.8em;
        font-weight: 800;
    }

    #skills h1 {
        font-size: 1.8em;
        font-weight: 800;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.2em;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #development h1 {
        font-size: 2.1em;
        font-weight: 800;
    }

    #skills h1 {
        font-size: 2.1em;
        font-weight: 800;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.8em;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 4.5em;
    }

    h2 {
        font-size: 1.8em;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    h1 {
        font-size: 4.5em;
    }

    h2 {
        font-size: 1.8em;
    }
}

